################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GCDownloader/bin/Debug
/GCDownloader/obj/Debug
/.vs/GCDownloader/v15
